@import url('https://fonts.cdnfonts.com/css/times-new-roman');

@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@300;400;500;600;700&family=Noto+Serif:ital,wght@0,700;1,400;1,600;1,800;1,900&display=swap');

:root {
    --bgColor: #6B1B1C;
    --textColor: #E6E5E7;
    --headingFont: 'Times New Roman', sans-serif; 
    --bodyFont: 'Times New Roman', sans-serif; 

    /* --headingFont: 'Maitree', serif;
    --bodyFont: 'Maitree', serif; */

}

                                                

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--headingFont);
    font-weight: 900;
}

body {
    font-family: var(--bodyFont);
}

p, label, span, a {
    font-size: 1rem;
    font-family: var(--bodyFont);
    /*font-weight: 300;*/
}

.login-form {
    max-width: 500px;
}

.login-form-forgot {
    float: right;
}

.ant-col-rtl .login-form-forgot {
    float: left;
}

.login-form-button {
    width: 100%;
}

.ant-result-icon svg {
    color: var(--bgColor)
}

.container {
    max-width: 1350px;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.header {
    background-color: var(--bgColor);
    height: auto;
    padding: 2rem 0 0;
}

/* dip change */

.MainHead{
        display:flex;
        flex-direction: column;
        align-items:center

}

@media (max-width: 767px) {
    .MainHead{
        display:flex;
        flex-direction: row;
        justify-content: space-between;

}
  }

@media (min-width: 768px) and (max-width: 1023px) {
   
    .MainHead{
        display:flex;
        flex-direction: row;
        justify-content: space-between;

}
  }


/* dip change  end */


.footer {
    background-color: var(--bgColor);
    color: var(--textColor);
    padding: 90px 0;      
}

.footer-content {
  
    font-size:20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.footer-left, .footer-right {
    margin: 10px;
}


@media screen and (min-width: 768px) {
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer-left, .footer-right {
        margin: 0;

    }

    .footer-left {
        flex: 1;
        text-align:left
       
    }

    .footer-right {
        flex: 1;
        text-align:right
        
    }
}

  


.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.logo {
    font-size: 3rem;
    color: var(--textColor);
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1.3em;
    letter-spacing: 7px;
}

.menu {
    font-size: 1.3rem;
    text-transform: capitalize;
}


.MobileNavIteam{
    margin: 50px;
    padding: 15px;
}


.MobileNavIteam:hover{
    background-color: var(--bgColor);
    border-radius: 8px;
    color: #fff;
}

.nav_container {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav_container_mobile {
    padding: 5px;
    display: grid;



}

.nav_item {
    text-transform: capitalize;
    color: #fff;
    font-size: 28px;
    text-decoration: none;
    margin: 0px 15px;
    padding: 2px 0px;
    border-bottom: 2px solid transparent;
}

.nav_item:hover{
    color: #f8d4d4 !important;
}
.nav_item_active {
    color: #ffffff !important;
    border-color: #ffffff;
}
.ant-layout-header{
    line-height: 30px!important;
}
.Header_Menu{
    padding-top: 20px;
    padding-bottom: 35px;
}


    /* dip change */

.page-space {
    padding-top: 8rem;
    padding-bottom: 8rem;

    /* margin-top: 8rem;
    margin-bottom: 8rem; */
}

/* dip change */

.about-us p,
.services p,
.contact p {
    color: var(--bgColor);
    font-size: 1.35rem;
    margin-top: 2rem;
    line-height: 1.45em;
}

.services.container {
    max-width: 950px;
}


.about-us h2,
.services h2,
.contact h2 {
    color: var(--bgColor);
    font-size: 2rem;
}



.services h2 {
    margin-bottom: 2rem;
}

.services .faq {
    margin-top: 2rem;
}

.services .faq p {
    margin: .6rem 0;
    font-size: 1.2rem;
}

.services .faq h4 {
    color: var(--bgColor);
    font-size: 1.2rem;
    margin-top: -3px;
    letter-spacing: 1px;
}

.bold {
    font-weight: bold;
}


.ContactForm{
    display: flex;
    flex-direction: row;
}

@media (max-width: 767px) {
    
    .ContactForm{
        
        flex-direction: column;
    }
    .ContactFormMain{
        margin-top:50px
    }

  }
  
  
  @media (min-width: 768px) and (max-width: 1023px) {
   
    .ContactForm{
        
        flex-direction: column;
    }
    .ContactFormMain{
        margin-top:50px
    }

   

  }
  



.contact .ant-form-item-label label,
.home .ant-form-item-label label {
    color: var(--bgColor);
    font-size: 1.2rem;
}

.container.home {
    max-width: 720px;
   
}



.home .search-field {
    margin-top: 2rem;
}


.home .search-label {
    /* text-align: center; */
    font-size: 2rem;
    letter-spacing:3px;
    color: var(--bgColor);
}

  @media (max-width: 767px) {
    .home .search-label {
        /* text-align: center; */
        font-size: 2rem;
       
        color: var(--bgColor);
    }
  }
  
  /* Styles for tablet screens (768px to 1023px) */
  @media (min-width: 768px) and (max-width: 1023px) {
    .home .search-label {
        /* text-align: center; */
        font-size: 2rem ;
        color: var(--bgColor);
    }
   
  }


.search-result p {
    color: var(--bgColor);

}

.search-result table {
    border: 2px solid var(--bgColor);
    border-radius: 5px;
}


/* mobile-table.css */

/* Apply a 2px solid black border to the entire table */
.search-result .ant-table {
    border-collapse: collapse; /* Ensure borders collapse properly */
    width: 100%; /* Ensure the table takes up the full width */
}

.search-result .ant-table-thead > tr > th {
    border-left: 1px solid var(--bgColor);
}

.search-result .ant-table-thead > tr > th:first-child {
    border: none;
}

.search-result .ant-table-tbody > tr > td {
    border-left: 1px solid var(--bgColor);
    border-top: 1px solid var(--bgColor);
}

.search-result .ant-table-tbody > tr > td:first-child {
    border-left: none;
}

.search-result .ant-table-tbody tr:nth-child(odd) {
    background: #f2f2f2;
}

.search-result .ant-table-tbody tr:nth-child(even) {
    background: #ffffff;
}

.search-result p,
.search-result td {
    font-size: 1.2rem;
}

.search-result th {
    font-size: 1.2rem;
    font-weight: bold;
}
.primary-btn {
    background-color: var(--bgColor);
    padding: 2rem 1rem;
}
.primary-btn:hover {
    background-color: #494848 !important;
}


@media screen and (max-width: 767px) {
    .about-us img {
        margin-top: 3rem;
    }

    /* dip change  */
    .page-space {
        /* margin-top: 5rem;
        margin-bottom: 5rem; */
          padding-top: 5rem;
          padding-bottom: 5rem; 
    }
    /* dip change  */
}


/* mobile-table.css */

/* Style the table for screens with a maximum width of 800px */
@media (max-width: 800px) {
    .search-result .ant-table {
        display: block;
    }

    .search-result .ant-table-thead {
        display: none; /* Hide the table header on small screens */
    }

    .search-result .ant-table-tbody {
        display: block;
    }

    .search-result .ant-table-row {
        border: none;
        margin-bottom: 8px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .search-result .ant-table-cell {
        flex: 1;
        padding: 8px;
    }

    .search-result .ant-table-tbody > tr > td {
        width: 100%;
        border-left: none;
        border-bottom: none !important;
    }

    .search-result .ant-table-tbody > tr > td:first-child {
        border-top: none;
    }
}



.ant-btn:hover{
    color: #d2d2d2 !important;
}
.custom-drawer-button {
    background-color: #6b1b1c; 
    color: #ffff; 
    border: none;
    border-radius: 4px; 
    padding: 10px 20px; 
    cursor: pointer;
  }

  .custom-drawer-button:hover {
    color: #ffff; /* Custom background color on hover */
  }
   

@media (max-width: 767px) {
    .dextop{
        display:none
    }
    .nav_item {
        text-transform: capitalize;
        color: #090909;
        font-size: 28px;
        text-decoration: none;
        margin: 10px 20px;
        padding: 5px 10px;
        border-radius: 8px
    }
    .nav_item:hover{
        background-color: var(--bgColor);
        border-radius: 8px;
        margin: 10px 20px;
        padding: 5px 10px;
        color: #fff;
    }
    .nav_item_active {
        color: #ffffff !important;
        background-color: #6B1B1C;
        margin: 10px 20px;
        padding: 5px 10px;
    }

}
  
  /* Styles for tablet screens (768px to 1023px) */
  @media (min-width: 768px) and (max-width: 1023px) {
   
    .dextop{
        display:none
    }
  }
  
  /* Styles for desktop screens (1024px and above) */
  @media (min-width: 1024px) {
    
    .mobileMenu{
        display:none
    }
  }



/* menu end */



/*pagination color*/

.ant-pagination {
    background-color: #f2f2f2!important;
    border-color: #090909!important;
    color: #d2d2d2!important;
}

/* Override Ant Design Pagination button color */
.ant-pagination-item  {
    color: #090909 !important;
}


.ant-pagination-item-active  {
    color: #090909;
    background-color: #fff !important;
    border-color: #6B1B1C !important;
}
 .ant-pagination-item-active a {
    color: #090909 !important;
}
.ant-table {
    background: transparent!important;
}
.ant-pagination{
    background-color: transparent!important;
}