@import url('https://fonts.cdnfonts.com/css/times-new-roman');

:root {
    --bgColor: #6B1B1C;
    --textColor: #E6E5E7;
    --headingFont: 'Times New Roman', sans-serif;
    --bodyFont: 'Times New Roman', sans-serif;
}


html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--headingFont);
    font-weight: 900;
}

body {
    font-family: var(--bodyFont);
}

p, label, span, a {
    font-size: 1rem;
    font-family: var(--bodyFont);
    /*font-weight: 300;*/
}

.login-form {
    max-width: 500px;
}

.login-form-forgot {
    float: right;
}

.ant-col-rtl .login-form-forgot {
    float: left;
}

.login-form-button {
    width: 100%;
}

.ant-result-icon svg {
    color: var(--bgColor)
}

.container {
    max-width: 1350px;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.header {
    background-color: var(--bgColor);
    height: auto;
    padding: 2rem 0 0;
}

.footer {
    background-color: var(--bgColor);
    color: var(--textColor);
    padding: 90px 0;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.logo {
    font-size: 3rem;
    color: var(--textColor);
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1.3em;
    letter-spacing: 7px;
}

.menu {
    font-size: 1.3rem;
    text-transform: capitalize;
}

.page-space {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.about-us p,
.services p,
.contact p {
    color: var(--bgColor);
    font-size: 1.35rem;
    margin-top: 2rem;
    line-height: 1.45em;
}

.services.container {
    max-width: 950px;
}


.about-us h2,
.services h2,
.contact h2 {
    color: var(--bgColor);
    font-size: 2rem;
}

.services h2 {
    margin-bottom: 2rem;
}

.services .faq {
    margin-top: 2rem;
}

.services .faq p {
    margin: .6rem 0;
    font-size: 1.2rem;
}

.services .faq h4 {
    color: var(--bgColor);
    font-size: 1.2rem;
    margin-top: -3px;
    letter-spacing: 1px;
}

.bold {
    font-weight: bold;
}

.contact .ant-form-item-label label,
.home .ant-form-item-label label {
    color: var(--bgColor);
    font-size: 1.2rem;
}

.container.home {
    max-width: 720px;
}

.home .search-field {
    margin-top: 3rem;
}

.home .search-label {
    text-align: center;
    font-size: 4rem;
    color: var(--bgColor);
}

.search-result p {
    color: var(--bgColor);

}

.search-result table {
    border: 2px solid var(--bgColor);
    border-radius: 5px;
}


/* mobile-table.css */

/* Apply a 2px solid black border to the entire table */
.search-result .ant-table {
    border-collapse: collapse; /* Ensure borders collapse properly */
    width: 100%; /* Ensure the table takes up the full width */
}

.search-result .ant-table-thead > tr > th {
    border-left: 1px solid var(--bgColor);
}

.search-result .ant-table-thead > tr > th:first-child {
    border: none;
}

.search-result .ant-table-tbody > tr > td {
    border-left: 1px solid var(--bgColor);
    border-top: 1px solid var(--bgColor);
}

.search-result .ant-table-tbody > tr > td:first-child {
    border-left: none;
}

.search-result .ant-table-tbody tr:nth-child(odd) {
    background: #f2f2f2;
}

.search-result .ant-table-tbody tr:nth-child(even) {
    background: #ffffff;
}

.search-result p,
.search-result td {
    font-size: 1.2rem;
}

.search-result th {
    font-size: 1.2rem;
    font-weight: bold;
}
.primary-btn {
    background-color: var(--bgColor);
    padding: 2rem 1rem;
}
.primary-btn:hover {
    background-color: #494848 !important;
}


@media screen and (max-width: 767px) {
    .about-us img {
        margin-top: 3rem;
    }

    .page-space {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}


/* mobile-table.css */

/* Style the table for screens with a maximum width of 800px */
@media (max-width: 800px) {
    .search-result .ant-table {
        display: block;
    }

    .search-result .ant-table-thead {
        display: none; /* Hide the table header on small screens */
    }

    .search-result .ant-table-tbody {
        display: block;
    }

    .search-result .ant-table-row {
        border: none;
        margin-bottom: 8px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .search-result .ant-table-cell {
        flex: 1;
        padding: 8px;
    }

    .search-result .ant-table-tbody > tr > td {
        width: 100%;
        border-left: none;
        border-bottom: none !important;
    }

    .search-result .ant-table-tbody > tr > td:first-child {
        border-top: none;
    }
}
