:root{
  --bgColor: #6B1B1C;
  --textColor: #E6E5E7;
  --headingFont:'Norwester', sans-serif;
  --bodyFont: 'Montserrat', sans-serif;
}
html{
  font-size: 16px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--headingFont);
}
p {
  font-size: 1rem;
  font-family: var(--bodyFont);
}
.login-form {
  max-width: 500px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
.ant-result-icon svg{
  color: var(--bgColor)
}
.container {
  max-width: 1350px;
  width: 90%;
  margin: auto;
  overflow: hidden;
}
.header {
  background-color: var(--bgColor);
  height: auto;
  padding: 2rem 0 0;
}

.footer {
  background-color: var(--bgColor);
  color: var(--textColor);
  padding: 90px 0;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.logo {
  font-size: 3.5rem;
  color: var(--textColor)
}
.menu {
  font-size: 1.3rem;
  text-transform: capitalize;
}
.page-space {
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.about-us p {
  color: var(--bgColor);
  font-size: 1.3rem;
  margin-top: 2rem;
  line-height: 1.4em;
}
@media screen and (max-width: 767px) {
  .about-us img {
    margin-top: 3rem;
  }
  .page-space {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

.about-us h2 {
  color: var(--bgColor);
  font-size: 2rem;
}
